[submodule ".constitution"]
	path = .constitution
	url = https://github.com/FOP-Oksana-Dubinetska/code-constitution.git
[submodule ".licensing-policy"]
	path = .licensing-policy
	url = https://github.com/FOP-Oksana-Dubinetska/repository-licensing-policy.git
